<!DOCTYPE html>
<html lang="en">

<head>
    <title>SERI's Hotel</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="a1">
        <div class="a2">
            <a href="http://127.0.0.1:8000/ ">
                <h2>Hotel.com</h2>
            </a>
            <div class="a3">
                <ul align="right">
                    <li><a href="http://127.0.0.1:8000/">Home</a></li>
                    <li>Exclusive Deals</li>
                    <!-- <li>Our Menu
                        <div class="dropdown-content">
                            <ul>
                                <li>Breakfast</li>
                                <li>Lunch</li>
                                <li>Dinner</li>
                                <li><a href="Menu.html" target="_blank">View Full Menu</a></li>
                            </ul>
                        </div>
                    </li> -->
                    <li><a href="http://127.0.0.1:8000/contact">Contact Us</a></li>
                    <!-- <li><a href=About target="_blank" text-decoration: none;>About us</a></li> -->
                    <li class="btn" style="margin-right: 10px; padding: 8px;" ><a href=Login.html >Sign In</a></li>
                </ul>
            </div>
        </div>
        <h1><span style="color:goldenrod">Welcome </span>to Hotel.com</h1>
        <h3>A SEEMLESS EXPERIENCE OF HOME</h3>
        <br>
        <div class="searchbox">
            <input type="text" placeholder=" Where are you going?" name="search"><button type="submit">Search</button>
        </div>
    </div>
    </div>
    <div class="photos">
        <h2 style="margin: 15px; margin-left: 40px;">Browse by Property type</h2>
        <div class="picture" style="margin-left: 40px;">
            <img src="./static/A.jpg">
            <div class="p">
                <p>Hotels</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/B.jpg">
            <div class="p">
                <p>Villas</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/C.jpg">
            <div class="p">
                <p>Resorts</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/I.jpg">
            <div class="p">
                <p>Apartments</p>
            </div>
        </div>
    </div>
    <div class="photos">
        <h2 style="margin: 15px; margin-left: 40px;">Explore India</h2>
        <div class="picture" style="margin-left: 40px;">
            <img src="./static/delhi.jpg">
            <div class="p">
                <p>New Delhi</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/unity3.jpg">
            <div class="p">
                <p>Gujrat</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/goa.jpg">
            <div class="p">
                <p>Goa</p>
            </div>
        </div>
        <div class="picture">
            <img src="./static/jaipur.jpg">
            <div class="p">
                <p>Jaipur</p>
            </div>
        </div>
        <!-- ----------------- -->
        <div class="picture" style="width: 625px; margin-left: 40px;">
            <img src="./static/agra.jpg" style="width:625px">
            <div class="p">
                <p>Agra</p>
            </div>
        </div>
        <div class="picture" style="width:625px">
            <img src="./static/mathura1.jpg" style="width:625px">
            <div class="p">
                <p>Mathura</p>
            </div>
        </div>
    </div>
    <footer>
        <h1 style="margin-top: 100px; letter-spacing: 4px;">Let's connect!</h1>
        <p style="margin-top: 18px; color: darkcyan;">
            Want to know what we're up to? Sign up for the exclusive offers and join our tribe.
        </p>
        <div class="subscribe_button">
            <input type="email" placeholder=" type your e-mail here..." name="search"><button type="submit">Join</button>
            <div class="link">
                <a href="https://www.google.com/iamshiva7932" target="_blank" class="fa fa-google"></a>
                <a href="https://www.facebook.com/iamshiva7932" target="_blank" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/iamshiva7932" target="_blank" class="fa fa-instagram"></a>
                <a href="https://twitter.com/IamShiva___"  target="_blank" class="fa fa-twitter"></a>
                <a href="https://www.linkedin.com/in/shiva-299a81235" target="_blank" class="fa fa-linkedin"></a>
                </div>
        </div> 
        <div>
        <p style="font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif"> Hotel.com &copy; All rights reserved 2023 |  Designed by <span style="color:red; ">SERI</span></p>
    </div>
    </footer>

</body>

</html>